* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    background-image: url(../imagenes/background/WhatsApp\ Image\ 2022-05-13\ at\ 6.19.28\ PM.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #1e0645;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

body::before{
    content: '';
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #150430ce;
    z-index: -1;
}

header {
    background-color: #1e06455b;
    width: 100%;
    position: fixed;
    top: 0%;
    z-index: 100;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    opacity: 1;
}

.menu__nav{
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.menu__list {
    display: flex;
}

.menu__logo {
    width: 80px;
}

.menu__items {
    list-style: none;
    margin-left: 32px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;;
}

.main {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 140px;
   
}

.main__titulo {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}

.main__texto {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.main__padre {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}

footer {
    text-align: center;
    margin: 100px;
    font-size: smaller;
}

.spotify{
    display: flex;
    width: 100%;
    margin-top: 200px;
    justify-content: center;
}

.spotify__div {
    display: flex;
    width: 50%;
    min-width: 320px;
}

.material{
    margin-bottom:50px; 
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

.contacto {
    margin: auto;
    margin-top: 200px;
    width: 500px;
    height: 500px;
}

.form {
    width: 500px;
    margin: auto;
    background: rgba(0, 0, 0, 0.23);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
}

div form h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

div form input, div form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}

div form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #1e0645;
    color: white;
    padding: 15px;
}

#boton:hover {
cursor: pointer;
}

.section__flex {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 300px;
    max-width: 70%;
    min-width: 70%;
    display: flex;
    justify-content:center;
    max-height: fit-content;
    flex-flow: row wrap ;
    align-content: center;
    gap: 50px ;
}

.section__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.section__div {
    margin-top: 200px;
    width: 250px;
    height: 250px;
    border: white solid 1px;
    border-radius: 50%;
    margin: 30px;
    display: inline-block;
}

.section__div h3 {
    text-align: center;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.redes__ico {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.footer__redes{
    margin-top: 100px;
}

.header__open {
    display: block;
    font-size: 50px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    height: 50px;
}

.jam{
    display: none;
}

.redes__ico{
    transition: 1.2s;
}

.redes__ico:hover{
    width: 70px;
    height: 70px;
}

/* media querys */

@media screen and (max-width:1023px) {
    .menu__nav{
        display: none;
    }
    .jam{
        display: inline;
    }
    #lateral{
        display: block;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        background-color:rgb(0, 0, 0, 0.8 );
    }

    .menu__list{
        flex-direction: column;
        font-size: 25px;
        height: 100%;
        justify-content: center;
        gap: 2rem;
    }

    #lateral:target{
        left: 0%;
        transition: 2s;
    }

    .menu__items {
        margin: 15px;
        text-align: center;
    }

    .main__image {
        width: 400px;
    }

    .main__texto{
        width: 100%;
        padding: 20px;
    }

    .main__titulo{
        font-size: 5vw;
    }

    .grid{
        margin-top: 1200px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid__div {
        max-width: 560px;
        min-width: 320px;
    }

    .iframe{
        max-width: 560px;
        min-width: 320px;
    }

    .material {
        width: 100%;
        font-size: 30px;
    }


    footer p{
        width: 100%;
        text-align: center;
    }

    .contacto {
        width: 50%;
        min-width: 400px;
    }

    .form{
        width: 80%;
    }

    body{
        background-size: cover;
        background-attachment: scroll;
    }
}