.contacto {
    margin: auto;
    margin-top: 200px;
    width: 500px;
    height: 500px;
}

.form {
    width: 500px;
    margin: auto;
    background: rgba(0, 0, 0, 0.23);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
}

div form h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

div form input, div form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}

div form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #1e0645;
    color: $color-secundario;
    padding: 15px;
}

#boton:hover {
cursor: pointer;
}
