@media screen and (max-width:1023px) {
    .menu__nav{
        display: none;
    }
    .jam{
        display: inline;
    }
    #lateral{
        display: block;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 100;
        background-color:rgb(0, 0, 0, 0.8 );
    }

    .menu__list{
        flex-direction: column;
        font-size: 25px;
        height: 100%;
        justify-content: center;
        gap: 2rem;
    }

    #lateral:target{
        left: 0%;
        transition: 2s;
    }

    .menu__items {
        margin: 15px;
        text-align: center;
    }

    .main__image {
        width: 400px;
    }

    .main__texto{
        width: 100%;
        padding: 20px;
    }

    .main__titulo{
        font-size: 5vw;
    }

    .grid{
        margin-top: 1200px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid__div {
        max-width: 560px;
        min-width: 320px;
    }

    .iframe{
        max-width: 560px;
        min-width: 320px;
    }

    .material {
        width: 100%;
        font-size: 30px;
    }


    footer{
       flex-direction: column;
       margin-top: 100px;
       gap: 70px;
    }

    .footer__div{
        min-width: 0;
    }

    .footer__ico{
        display: none;
    }

    .contacto {
        width: 50%;
        min-width: 400px;
    }

    .form{
        width: 80%;
    }

    body{
        background-size: cover;
        background-attachment: scroll;
    }
}